{% extends "layouts/boilerplate.html" %}

{% block body %}
<div class="row col-sm-8 offset-sm-2 py-3 d-flex justify-content-between">
    <div class="input-group">
        <div class="row mb-3">
            <div class="col-md-10 mx-auto">
                <div class="input-group">
                    <input class="form-control border-end-0 border rounded-pill" type="search" placeholder="Search Bus Names" value="" id="filter-table">
                </div>
            </div>
        </div>
    </div>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Bus</th>
                <th scope="col">Agency</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for i in range(data|length) %}
            <tr class="row-data">
                <th scope="row">{{ i }}</th>
                <td class="filter-col">{{ data[i][1] }}</td>
                <td>{{ data[i][2] }}</td>
                <td><a href="\buses\{{data[i][0]}}" >View All Trips</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block scripts %}
<script src="{{url_for('static', filename='javascripts/search.js')}}"></script>
{% endblock %}