{% extends "layouts/boilerplate.html" %}

{% block body %}
	<form action="/search-routes" method="POST" onsubmit="return setData()" id="search-routes" class="col-sm-8 offset-sm-2 py-3">
		<h2 class="col-12 text-center mb-3">
			<strong>Search Routes Between Any two Stops</strong>
		</h2>
		<div class="mb-3">
			<label for="sourcestop" class="form-label">Select Source Stop</label>
			<input class="form-control" list="sourcedatalistOptions" id="sourcestop" name="source" placeholder="Type to search...">
			<datalist id="sourcedatalistOptions">
				{% for item in data %}
					<option value="{{ item[1] }} - {{ item[2] }} -{{ item[0] }}">
				{% endfor %}
			</datalist>
		</div>
		<div class="mb-3">
			<label for="destinationstop" class="form-label">Select Destination Stop</label>
			<input class="form-control" list="destinationdatalistOptions" id="destinationstop" name="destination" placeholder="Type to search...">
			<datalist id="destinationdatalistOptions">
				{% for item in data %}
					<option value="{{ item[1] }} - {{ item[2] }} -{{ item[0] }}">
				{% endfor %}
			</datalist>
		</div>
		<div class="offset-4 col-4">
			<button type="submit" class="btn btn-primary"> Search &#128269;</button>
		</div>
	</form>
{% endblock %}