<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Delhi Bus Transit System</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/app.css') }}">

</head>
<body class="d-flex flex-column">

  <!-- <%- include('../partials/navbar') %>  -->
  
  <main class="container pb-5 mb-5 mt-4">
    <!-- <%- include('../partials/flash') %>  -->
    <!-- <%- body %>  -->
    <h1>hello</h1>
  </main>

  <!-- <%- include('../partials/footer') %>  -->


  <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
      integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
      crossorigin="anonymous"></script>


  <!-- <script src="/javascripts/validateForms.js"></script> -->


</body>
</html>


<!-- <% layout('layouts/boilerplate')%>

<div id="cluster-map" class="mx-auto shadow mb-5"></div>

<form id="searchForm" class="row col-sm-8 offset-sm-2 py-3">
    <div class="col-12 text-center mb-3">
        <strong>Search Houses By Rent</strong>
    </div>
    <div class="col-5">
        <div class="input-group">
            <span class="input-group-text" id="rent-label">&#8377;</span>
            <input type="number" step="any" min="0" class="form-control" id="minRent" aria-label="minRent" aria-describedby="min-rent-label" name="minRent" placeholder="Min">
        </div>
    </div>
    <div class="col-5">
        <div class="input-group">
            <span class="input-group-text" id="rent-label">&#8377;</span>
            <input type="number" step="any" min="0" class="form-control" id="maxRent" aria-label="maxRent" aria-describedby="max-rent-label" name="maxRent" placeholder="Max">
        </div>
    </div>
    <div class="col-2">
      <button type="submit" class="btn btn-primary">&#128269;</button>
    </div>
</form>


<div id="housesContainer" class="card-container col-sm-8 offset-sm-2 mt-5"></div>

<script src="/javascripts/filename.js"></script> -->