{% extends "layouts/boilerplate.html" %}

{% block body %}
<div class="col-sm-8 offset-sm-2 py-3 d-flex justify-content-between">
    <div>
        <span >Source stop: </span>
        <strong> {{ source }}</strong>
    </div>
    <div>
        <span >Destination stop: </span>
        <strong> {{ destination }}</strong>
    </div>
</div>

<div class="card-container col-sm-8 offset-sm-2 mt-5">
{% for route in data %}
    <div class="row px-2">
        {% for trip in route[0] %}
        <div>
            <strong>{{ trip[0] }}</strong> : 
            {{ trip[1] }} at {{ trip[3] }} to {{ trip[2] }} at {{ trip[4] }}
        </div>
        {% endfor %}
        <div>Total Fare : INR {{ route[1] }}</div>
    </div>
{% endfor %}
</div>

{% endblock %}